<footer class="bg-fc position-relative">
  <div class="container py-5 py-lg-12 text-fcbg">
    <div
      class="d-flex flex-column flex-lg-row justify-content-between align-items-center align-items-lg-stretch mb-6 mb-lg-12"
    >
      <!-- Logo與地址 -->
      <div>
        <img
          class="mb-8"
          src="/assets/images/footer/Logo.svg"
          alt="logo_small_white"
        />
        <p class="mb-4">地址：台北市中山區幸福路77號</p>
        <p>電話：(02) 2234-5678</p>
      </div>
      <!-- 連結 -->
      <div>
        <ul class="list-unstyled f-link-hov d-flex my-6 mx-4 m-lg-0">
          <li>
            <a href="service.html" class="text-fcbg py-3 px-5 me-lg-10"
              >預約座位</a
            >
          </li>
          <li>
            <a href="menu.html" class="text-fcbg py-3 px-5 me-lg-10"
              >精選菜單</a
            >
          </li>
          <li>
            <a href="about.html" class="text-fcbg py-3 px-5 me-lg-10"
              >關於品牌</a
            >
          </li>
        </ul>
      </div>
    </div>
    <!-- Copyright -->
    <p class="text-fcbg text-center">
      <span class="d-block d-lg-inline">Copyright </span>
      @2025 默隅 Moonook All Rights Reserved
    </p>
  </div>
  <!-- Pagetop -->
  <a class="f-pagetop" href="#">
    <div class="d-none d-lg-block">
      <img
        class="f-pagetop-def"
        src="/assets/images/footer/footer_pagetop_def.svg"
        alt="footer_pagetop_def"
      />
      <img
        class="f-pagetop-hov d-none"
        src="/assets/images/footer/footer_pagetop_hov.svg"
        alt="footer_pagetop_hov"
      />
    </div>
    <div class="d-lg-none">
      <img
        class="f-pagetop-sm-def"
        src="/assets/images/footer/footer_pagetop_sm_def.svg"
        alt="footer_pagetop_def"
      />
      <img
        class="f-pagetop-sm-hov d-none"
        src="/assets/images/footer/footer_pagetop_sm_hov.svg"
        alt="footer_pagetop_hov"
      />
    </div>
  </a>
</footer>
