// button base setting
// 按鈕圓角要自己套class(請參照變數rounded區)
.btn-base {
  padding: 12px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-shrink: 0;
  overflow: hidden;
  z-index: 10;
  img {
    width: 24px;
    height: 24px;
  }
  @media (max-width: 576px) {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    img {
      width: 20px;
      height: 20px;
    }
  }
}

// button primary
.btn-primary {
  color: $fcbg;
  background-color: $primary;
  border: 1px solid $primary;
  border-radius: 9999px;
  &:hover {
    background-color: $fc;
    border: 1px solid $fc;
  }
  &:active,
  &:focus {
    background-color: $fc;
    border: 1px solid $fc;
    box-shadow: 0 0 0 0.25rem rgba($fc, 0.25);
  }
}

// button outline
.btn-outline {
  color: $fc;
  background-color: transparent;
  border: 1px solid $fc;
  &:hover {
    background-color: $fc;
    border: 1px solid $fc;
    color: $fcbg;
  }
  &:active,
  &:focus {
    color: $fc;
    background-color: transparent;
    border: 1px solid $fc;
    opacity: 0.5;
    box-shadow: 0 0 0 0.25rem rgba($fc, 0.25);
  }
}

// button white

// moon-icon
button,
a {
  .switch-null {
    display: flex;
  }
  .switch-full {
    display: none;
  }
  .switch-null,
  .switch-full {
    transition: opacity 0.5s ease-in-out;
  }
  &:hover,
  &:focus,
  &:active {
    .switch-null {
      display: none;
    }
    .switch-full {
      display: flex;
    }
  }
}
