.s__seat{
    &-btn{
        width: 72px;
        display: inline-block;
        padding: 8px 0;
        border: 3px solid $primary;
        border-radius: 20px 0 20px 0;
        font-weight: 800;
        cursor: pointer;
        transition: all 0.3s;
        background-color: $primary-100;
        color: $fc-600;
        font-size: 18px;
        &:hover{
            background-color: $primary;
            color: $white;
        }
        &.disabled {
            background-color: #e6e4db;
            border: 3px solid $primary-300;
            color: $primary-300;
            pointer-events: none;
        }
    }
    &-select{
        background-color: $primary;
        color: $white;
        box-shadow: 0px 0px 5px 5px $primary-300;

    }
}

@include size-sm{
    .s__seat{
        &-btn{
            width:56px;
            font-size: 14px;
            padding: 8px 0;
        }
    }
}
