header {
  // 通用
  img {
    object-fit: contain;
  }
  a {
    display: inline-block;
  }

  /* 導覽列初始樣式 */
  #h-main-nav {
    background-color: transparent;
    transition: background-color 0.5s ease-in-out;
  }

  .h-nav-link-item {
    color: $fcbg;
    transition: color 0.5s ease-in-out;
    &:hover {
      opacity: 0.5;
    }
  }

  /* 導覽列滾動後樣式 */
  #h-main-nav.scrolled {
    background: linear-gradient(
      to bottom,
      rgb(245, 240, 232, 0.9) 60%,
      rgb(245, 240, 232, 0) 100%
    );
  }

  #h-main-nav.scrolled .h-nav-link-item {
    color: $fc;
  }

  /* 切換 Logo 的顯示與隱藏 */
  #h-main-nav.scrolled .h-logo-white {
    display: none;
  }

  #h-main-nav.scrolled .h-logo-green {
    display: block !important;
  }

  #h-main-nav.scrolled .h-dahaze-w {
    display: none;
  }

  #h-main-nav.scrolled .h-dahaze-g {
    display: block !important;
  }

  #h-main-nav.scrolled .h-person-w {
    display: none;
  }

  #h-main-nav.scrolled .h-person-g {
    display: inline !important;
  }

  .h-offcanvas {
    a:hover {
      opacity: 1 !important;
      background-color: $fc-700;
      .h-list-item-def {
        display: none;
      }
      .h-list-item-hov {
        display: block !important;
      }
    }
  }
}
