<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/logo.svg" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <title>會員中心 | 默隅 Moonook</title>
</head>

<body>
  <%- include('./layout/header'); -%>
    <main class="container">
      <div class="row">
        <div class="col-lg-2 d-flex flex-column align-items-center">
          <div class="ratio ratio-1x1 w-75">
            <img src="../assets/images/member_photo.jpg" alt="會員頭像"
              class="img-fluid object-fit-cover d-block rounded-circle">
          </div>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">預約紀錄</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">基本資料</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">會員登出</a>
            </li>

          </ul>
        </div>
        <div class="col-lg-10">
          <nav class="container">
            <div class="row">
              <div class="dropdown col-lg-4">
                <label for="date" class="form-label">日期</label>
                <button class="btn btn-secondary dropdown-toggle" type="button" id="date" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  請選擇日期
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </div>

              <div class="dropdown col-lg-4">
                <label for="duration" class="form-label">時段</label>
                <button class="btn btn-secondary dropdown-toggle" type="button" id="duration" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  請選擇時段
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </div>

              <div class="col-lg-2">

                <input type="text" class="form-control" placeholder="搜尋" aria-label="search bar"
                  aria-describedby="inputGroup-sizing-default">
              </div>

            </div>
          </nav>

          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link" href="#">2025</a></li>
              <li class="page-item">
                <a class="page-link" href="#">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>




          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Previous</a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav>

        </div>

      </div>

    </main>


    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>