<!-- menu__swiper-nav -->
<!-- desktop -->
<div class="swiper-nav d-flex align-items-center gap-6 d-none d-md-flex">
  <div class="desktopPag fs-5"></div>
  <div class="desktopScroll flex-grow-1"></div>
  <div class="d-flex align-items-center gap-2">
    <button type="button" class="menu-desktop-prev-btn">
      <svg
        width="32"
        height="32"
        viewBox="0 0 40 40"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M19.9998 36.6673C10.7951 36.6673 3.33317 29.2054 3.33317 20.0007C3.33317 10.7959 10.7951 3.33398 19.9998 3.33398C29.2046 3.33398 36.6665 10.7959 36.6665 20.0007C36.6665 29.2054 29.2046 36.6673 19.9998 36.6673Z"
          fill="currnetColor"
        />
        <path
          d="M20 26.6673L13.3333 20.0007L20 13.334"
          stroke="#FFFBF3"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M26.6665 20H13.3332"
          stroke="#FFFBF3"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
    <button type="button" class="menu-desktop-next-btn">
      <svg
        width="32"
        height="32"
        viewBox="0 0 41 40"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M20.4999 36.6673C29.7047 36.6673 37.1666 29.2054 37.1666 20.0007C37.1666 10.7959 29.7047 3.33398 20.4999 3.33398C11.2952 3.33398 3.83325 10.7959 3.83325 20.0007C3.83325 29.2054 11.2952 36.6673 20.4999 36.6673Z"
          fill="currnetColor"
          stroke="currnetColor"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M20.5 26.6673L27.1667 20.0007L20.5 13.334"
          stroke="#FFFBF3"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M13.8333 20H27.1666"
          stroke="#FFFBF3"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
  </div>
</div>

<!-- mobile -->

<div
  class="d-md-none d-flex justify-content-between align-items-center gap-4 mt-4 mt-lg-6"
>
  <div class="mobilePag text-start fs-6"></div>
  <div class="mobileScroll flex-grow-1"></div>
  <div class="d-flex align-items-center gap-2">
    <button type="button" class="menu-mobile-prev-btn">
      <!-- previous button -->
      <svg
        width="32"
        height="32"
        viewBox="0 0 40 40"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M19.9998 36.6673C10.7951 36.6673 3.33317 29.2054 3.33317 20.0007C3.33317 10.7959 10.7951 3.33398 19.9998 3.33398C29.2046 3.33398 36.6665 10.7959 36.6665 20.0007C36.6665 29.2054 29.2046 36.6673 19.9998 36.6673Z"
          fill="currnetColor"
        />
        <path
          d="M20 26.6673L13.3333 20.0007L20 13.334"
          stroke="#FFFBF3"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M26.6665 20H13.3332"
          stroke="#FFFBF3"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
    <button type="button" class="menu-mobile-next-btn">
      <!-- next button -->
      <svg
        width="32"
        height="32"
        viewBox="0 0 41 40"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M20.4999 36.6673C29.7047 36.6673 37.1666 29.2054 37.1666 20.0007C37.1666 10.7959 29.7047 3.33398 20.4999 3.33398C11.2952 3.33398 3.83325 10.7959 3.83325 20.0007C3.83325 29.2054 11.2952 36.6673 20.4999 36.6673Z"
          fill="currnetColor"
          stroke="currnetColor"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M20.5 26.6673L27.1667 20.0007L20.5 13.334"
          stroke="#FFFBF3"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M13.8333 20H27.1666"
          stroke="#FFFBF3"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
  </div>
</div>
