<p class="d-flex gap-3">
  <span class="leaf-step1">
    <img src="/assets/images/menu/leaf-step1.svg" alt="leaf-step" />
  </span>
  <span class="leaf-step2">
    <img src="/assets/images/menu/leaf-step2.svg" alt="leaf-step" />
  </span>
  <span class="leaf-step3">
    <img src="/assets/images/menu/leaf-step3.svg" alt="leaf-step" />
  </span>
  <span class="leaf-step4">
    <img src="/assets/images/menu/leaf-step4.svg" alt="leaf-step" />
  </span>
  <span class="leaf-step5">
    <img src="/assets/images/menu/leaf-step5.svg" alt="leaf-step" />
  </span>
  <span class="leaf-step6">
    <img src="/assets/images/menu/leaf-step6.svg" alt="leaf-step" />
  </span>
  <span class="leaf-step7">
    <img src="/assets/images/menu/leaf-step7.svg" alt="leaf-step" />
  </span>
  <span class="leaf-step8">
    <img src="/assets/images/menu/leaf-step8.svg" alt="leaf-step" />
  </span>
</p>
